{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        "react-intl",
        [
          "import",
          {
            "libraryName": "antd"
          }
        ],
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "lang/.messages/"
          }
        ],
        [
          "import",
          {
            "libraryName": "antd"
          }
        ],
        [
          "inline-import",
          {
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
