#Compiled
.build
build

#Dependencies
node_modules
jspm_packages

#next.js
.next
/.next

# Optional npm cache
.npm

/.build
/.sass-cache
/node_modules
/npm-debug.log
fingerpints*.json
/.idea
.DS_Store
/.DS_Store
/coverage
/.vscode


.cache
.cache-main
.cache-tests
.classpath
logs
*.log
bin/
build/
target/

#package-lock
package-lock.json
